@import "custom";

html {
    position: relative;
    min-height: 100%;
}


main {
    margin-bottom: 101px;

}

footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%
}

.hero-image-container {
    background-image: url(../images/e-voiture.jpg);
    background-size: cover;
    height: 400px;
    
}
.hero-container-content {
    text-align: center;
}

.search {
    text-align: center;
}

